:root {
  --main-color: rgb(168, 218, 220);
  --focus-color: rgb(160, 210, 220);
  --x-color: rgb(70, 70, 145);
  --y-color: rgb(180, 78, 78);
  --border-radius: 8px;
  --width: min(80vw, 60vh);
  --border: 1px solid rgb(0, 0, 0);
}

* {
  box-sizing: border-box;
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#players-cards {
  display: flex;
  max-width: 40rem;
  width: var(--width);
  gap: 1rem;
}

.player-card {
  display: flex;
  justify-content: space-between;
  padding: 4px;
  width: 100%;
}

.player-turn {
  border-bottom: 2px solid var(--main-color);
  border-radius: var(--border-radius);
}

#message {
  font-size: 3rem;
}

#game-board {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  max-width: 40rem;
  width: var(--width);
  margin-top: auto;
}

.cell {
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
}

.cell:nth-child(-n + 3) {
  border-bottom: var(--border);
}

.cell:nth-child(3n + 1) {
  border-right: var(--border);
}

.cell:nth-child(3n) {
  border-left: var(--border);
}

.cell:nth-child(n + 7) {
  border-top: var(--border);
}

.x {
  color: var(--x-color);
}

.o {
  color: var(--y-color);
}

.win-animation {
  animation: colorChange 1s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes colorChange {
  to {
    color: var(--main-color);
  }
}

#restart-game {
  cursor: pointer;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--main-color);
  font-size: 1.2rem;
  padding: 16px;
  margin-top: auto;
  margin-bottom: 2rem;
}

#restart-game:hover {
  background-color: var(--focus-color);
}
